.form-control-static{
	min-height: 10px;
	padding: 0px;
}
.form-horizontal {
	.control-label{
		padding-top: 0px;
		text-align: left;
	}
}
.padding-l-15{
	padding-left: 15px !important;
}
.title-menu{
	background: #ffdccc;
    border-top-color: #fff !important;
    padding-left: 5px !important;
    color: #61330f;
}
.line-right{
	z-index: 3;
}
.gallery{
	img{
		padding: 20px;
		max-height: 200px;
		margin: auto;
	}
	border: 1px solid #bbb;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.img-gallery{
	img{
		height: 200px;
		width: 100%;
	}
	margin-top: 15px;
	margin-bottom: 15px;
}
.img-advisors{
	.col-md-3{
		img{
			min-height: 300px;
			max-height: 300px;
		}
	}
	.col-md-4{
		img{
			min-height: 380px;
			max-height: 380px;
		}
	}
}
.catg{
	.panel-heading{
		background-color: #7b3d39;
	    border: none;
	    border-radius: 4px;
	    color: #fff;
	}
	.panel-default{
	    border: none;
		box-shadow: none;
	}
	.panel-body{
		padding: 5px 15px;
	}
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	color: #aaa;
}
.content{
	min-height: 250px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: #fff;
    background-color: #333;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: #333;
}
.navbar-nav>li>.dropdown-menu{
    background-color: rgba(50, 50, 50, 0.8);
}
@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
		background-color: #333;
	}
}
.nav-link a{
	color: #fff;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	margin-top: 0px !important;
	margin-right: -40px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-top: 0px !important;
	margin-left: -40px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background: #333;
}
.km-Img{
	max-height: 200px;
}
.col-sm-3{
	.km-Img{
		height: 160px;
	}
}
.padding-t-15{
	padding-top: 15px;
}