body{
	font: 18px THSarabunNew-Bold;
}
.inline{
	display: inline;
}
.img-logo{
	max-width: 120px;
}
.main-header{
    background-color: #fdb882;
    color: #7b3d39;
}
.nav-link a{
    color: #7b3d39;
}
.navbar{
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 2;
    background-color: rgba(95, 95, 95, 0.75);
    border: 0px;
    border-radius: 0px;
    color: #fff;
}
.navbar-fixed-top{
    background-color: rgba(95, 95, 95, 0.75);
    border: 0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.dropdown-menu > li > a
{
    color: #fff;
}
.content-mission{
    color: #000;
}
.content-wrapper{
    margin-top: -50px;
}

.Home-Course{
    position: relative;
    background-image: url("../images/bg/features-bg.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-News{
    position: relative;
    background-image: url("../images/bg/features-bg.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Services , .Home-Vision ,.Home-StdAct{
    box-shadow: inset 0px 50px 32px -20px rgba(188,188,188,1);
    padding-bottom: 50px;
}
.Home-Activity{
    position: relative;
    background-image: url("../images/bg/features-bg.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Healthy{
    position: relative;
    background-image: url("../images/bg/features-bg.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Vision .container,
.Home-Services .container,
.Home-StdAct .container{
    padding-top: 30px;
}
.article-news{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px 15px 50px;
    margin: 30px 0px 0px;
}
.date{
    background-color: #fff;
    padding: 15px 0px;
}
.date .month{
    background-color: #55a0cc;
    color: #fff;
}
.date .day{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #55a0cc;
}
.Home-News .panel-collapse .panel-body{
    padding: 5px 15px;
}
.Home-News .panel{
    background-color: transparent;
    box-shadow: none;
}
.Home-News .panel-default , .Home-News .panel-default > .panel-heading + .panel-collapse > .panel-body ,
.Home-Healthy .panel-default{
    border: none;
}
.Home-News .panel-default > .panel-heading ,
.Home-Healthy .panel-default > .panel-heading {
    background-color: #7b3d39;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.panel-title{
    font-size: 18px;
}
.Home-News .in{
    padding-top: 5px;
}
.navbar-collapse li > a , .navbar-brand{
    font-size: 18px;
}
footer{
    font: 14px THSarabunNew;
}
.nav-link{
    background-color: transparent;

}
footer .nav > li > a:hover, .nav > li > a:focus ,
.nav-link .nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
    color: #000;
}
.Footer{
    color: #fff;
    background-color: #7b3d39;
}
.social ,.address{
    padding: 20px 15px;
}
.social a{
    float: right;
    color: #fff;
    padding-left: 15px;
}
h3 small{
    font-size: 50%;
    bottom: 0px;
    padding-top: 8px;
}

.sidebar {
    background-color: #eee;
    float: left;
    width: 50px;
    height: 160px;
    position: fixed;
    z-index: 3;
    bottom: 15px;
    left: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(76, 76, 76, 0.5);
    padding: 0px;
}
.sidebar img{
    max-width: 48px;
    max-height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar-item{
    border-bottom: 1px solid #aaa;
}



















