body{
	font: 18px THSarabunNew-Bold;
}
a{
    color: #6a6a6a;
}
a:hover ,a:focus{
    color: #000;
}

.inline{
	display: inline;
}
.img-logo{
	max-width: 120px;
}
.main-header{
    background-color: #fdb882;
    color: #7b3d39;
    background: rgba(249,205,158,1);
    background: -moz-linear-gradient(45deg, rgba(249,205,158,1) 0%, rgba(248,138,101,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(249,205,158,1)), color-stop(100%, rgba(248,138,101,1)));
    background: -webkit-linear-gradient(45deg, rgba(249,205,158,1) 0%, rgba(248,138,101,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,205,158,1) 0%, rgba(248,138,101,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,205,158,1) 0%, rgba(248,138,101,1) 100%);
    background: linear-gradient(45deg, rgba(249,205,158,1) 0%, rgba(248,138,101,1) 100%);
}
.sub-header{
    background-image: url('http://www2.rosasensat.org/img/bg-lines.png');
}
.nav-link a{
    color: #7b3d39;
}
.navbar{
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 2;
    background-color: rgba(95, 95, 95, 0.75);
    border: 0px;
    border-radius: 0px;
    color: #fff;
    min-height: 40px;
}
.navbar-fixed-top{
    background-color: rgba(95, 95, 95, 0.75);
    border: 0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.dropdown-menu > li > a
{
    color: #fff;
}
.content-mission{
    color: #000;
}
.content-wrapper{
    margin-top: -50px;
}

.Home-Course{
    position: relative;
    background-image: url("../images/bg/course.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-News{
    position: relative;
    background-image: url("../images/bg/bg2.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Manager{
    background-color: #7b3d39;
    background-image: url("../images/bg/bg-lines.png");
    background-repeat: no-repeat;
    background-position: 0px 20px;
    color: #fff;
    padding-bottom: 50px;
}
.Home-Services , .Home-Vision ,.Home-StdAct{
    box-shadow: inset 0px 50px 32px -20px rgba(188,188,188,1);
    padding-bottom: 50px;
}
.Home-Activity{
    position: relative;
    background-image: url("../images/bg/bg3.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-MahahongNews{
    position: relative;
    background-image: url("../images/bg/bg5.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Healthy{
    position: relative;
    background-image: url("../images/bg/bg4.jpg");
    background-attachment: fixed !important;
    background-size: cover;
    background-repeat: repeat;
    /*color: #FFF;*/
    padding: 80px 0px;
}
.Home-Vision .container,
.Home-Services .container,
.Home-StdAct .container{
    padding-top: 30px;
}
.article-news{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px 15px 50px;
    margin: 30px 0px 0px;
}
.date{
    background-color: #fff;
    padding: 15px 0px;
}
.date .month{
    background-color: #55a0cc;
    color: #fff;
}
.date .day{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #55a0cc;
}
.Home-News .panel-collapse .panel-body{
    padding: 5px 15px;
}
.Home-News .panel{
    background-color: transparent;
    box-shadow: none;
}
.Home-News .panel-default , .Home-News .panel-default > .panel-heading + .panel-collapse > .panel-body ,
.Home-Healthy .panel-default{
    border: none;
}
.Home-News .panel-default > .panel-heading ,
.Home-Healthy .panel-default > .panel-heading {
    background-color: #7b3d39;
    border: none;
    border-radius: 4px;
    color: #fff;
}
.panel-title{
    font-size: 18px;
}
.Home-News .in{
    padding-top: 5px;
}
.navbar-collapse li > a , .navbar-brand{
    font-size: 18px;
}
footer{
    font: 18px THSarabunNew;
}
.nav-link{
    background-color: transparent;

}
footer .nav > li > a:hover, .nav > li > a:focus ,
.nav-link .nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
    color: #000;
}
.Footer{
    color: #fff;
    background-color: #7b3d39;
}
.social ,.address{
    padding: 20px 15px;
}
.social a{
    float: right;
    color: #fff;
    padding-left: 15px;
}
h3 small{
    font-size: 50%;
    bottom: 0px;
    padding-top: 8px;
}

.sidebar {
    background-color: #eee;
    float: left;
    width: 50px;
    /*height: 160px;*/
    position: fixed;
    z-index: 3;
    bottom: 15px;
    left: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(76, 76, 76, 0.5);
    padding: 0px;
}
.sidebar img{
    max-width: 48px;
    max-height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar-item{
    border-bottom: 1px solid #aaa;
}
.caption{
    background-color: rgba(95, 95, 95, 0.75);
    position: relative;
    bottom: 46px;
}
.caption h1 , .caption h4 {
    margin: 0px;
    color: #fff;
    padding: 10px 15px;
}
.menu-title{
    background-color: #7b3d39;
    color: #fff;
}
.menu-title h3{
    margin: 10px 0;
}
.side-menu .panel-heading {
    background-color: #fdb882;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    padding: 5px 15px;
}
.panel-group .panel + .panel{
    margin-top: 2px;
}
.panel-group{
    margin-bottom: 3px;
}
.side-menu .panel-default{
    background-color: #fdb882;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.side-menu .panel-collapse {
    background-color: #fff;
    border: none;
    box-shadow: none;
}
.breadcrumb{
    background-color: transparent;
    margin-bottom: 0px;
    padding-left: 0px;
}
.sub-menu hr{
    margin-top: 0px;
}
.Sidebar-Server .panel-head{
    padding: 5px 15px;
    background-color: #7b3d39;
    color: #fff;
}
.Sidebar-Server .panel-body{
    background-color: #fdb882;   
}
.template-1{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.dropdown-menu .divider{
    margin: 0;
    border-bottom: 1px solid;
}
.bg-black{
    background-color: #333;
}
nav.bg-black.on.navbar-fixed-top{
    background-color: rgba(51,51,51,0.75);
}
.bg-black .navbar-nav > li > a:hover, .bg-black .navbar-nav > li > a:focus{
    color: #aaa !important;
}
.navbar-toggle{
    padding: 5px 5px;
}
.navbar-toggle .icon-bar{
    width: 15px;
    height: 1px;
}
.link-logo,
.link-logo:hover,
.link-logo:active{
    color: #333;
}
.side-menu .panel-body {
    border-bottom: 1px solid;
    padding: 0px;
}
@media screen and (max-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 0px;  
    }
    .navbar-brand{
        height: auto; 
        padding: 10px 15px;
    }
    .content-wrapper {
        margin-top: -40px;
    }
    .navbar{
        background-color: #444;
    }
    .navbar-fixed-top{
        background-color: rgba(95, 95, 95, 0.75);
    }
    .month , .day{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .date{
        margin-bottom: 15px; 
    }
    .article-news{
        padding-bottom: 0px;

    }
}














