@font-face {
	font-family: 'THSarabunNew-Bold';
	src: url('../font/THSarabunNew-Bold/THSarabunNew-Bold.eot');
	src: url('../font/THSarabunNew-Bold/THSarabunNew-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew-Bold/THSarabunNew-Bold.woff') format('woff'),
		url('../font/THSarabunNew-Bold/THSarabunNew-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'THSarabunNew';
	src: url('../font/THSarabunNew/THSarabunNew.eot');
	src: url('../font/THSarabunNew/THSarabunNew.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew/THSarabunNew.woff') format('woff'),
		url('../font/THSarabunNew/THSarabunNew.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}